[Unit]
Description=Zabbix Agent
After=syslog.target
After=network.target

[Service]
User=zabbix
Group=zabbix
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir /var/run/zabbix
ExecStartPre=-/bin/chown -R zabbix:zabbix /var/run/zabbix/
Environment="CONFFILE=/opt/zabbix_agentd/etc/zabbix_agentd.conf"
EnvironmentFile=-/opt/zabbix_agentd/etc/sysconfig/zabbix-agent
Type=forking
Restart=on-failure
PIDFile=/var/run/zabbix/zabbix_agentd.pid
KillMode=control-group
ExecStart=/opt/zabbix_agentd/sbin/zabbix_agentd -c $CONFFILE
ExecStop=/bin/kill -SIGTERM $MAINPID
RestartSec=10s

[Install]
WantedBy=multi-user.target

